@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700); // font Inter
@import './mixins.scss';


input, button {
    background: none;
    outline: none;
    border: none;
    font-family: 'Inter', 'Roboto',sans-serif;
    font-size: 16px;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1E192D;
    font-family: 'Inter', 'Roboto',sans-serif;
    overflow-x: hidden;
    color: #ffffff;
}

.container {
    width: 1024px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @include flex; /*center center*/
    row-gap: 28px;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #fff;
    line-height: 27px;
    font-weight: 700;
}

.main {
    width: 100%;
    position: relative;

    &::after, &::before {
        position: absolute;
        content: '';
        display: block;
    }
    &::before {
        width: 220px;
        height: 220px;
        bottom: 0;
        left: -180px;
        background: url('../imgs/bitcoin.svg') no-repeat center/contain;
        z-index: -1;
    }
    &::after {
        width: 144px;
        height: 144px;
        top: -72px;
        right: 0;
        background: url('../imgs/Ethereum.svg') no-repeat center/contain;
        z-index: 1;
    }
}

.wrapper {
    background: linear-gradient(180.00deg, rgb(39, 29, 53),rgba(39, 29, 53, 0.2) 100%);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    padding: 9px 45px 37px 45px;
    min-height: 314px;
}

.tabs {
    @include flex;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 70%;
        left: 50%;
        height: 2px;
        min-width: 660px;
        transform: translateX(-50%);
        background: linear-gradient(90.00deg, rgba(217, 217, 217, 0) 12.5%,rgb(255, 255, 255) 51.569%,rgba(255, 255, 255, 0) 86.979%);
        opacity: 0.2;
    }
}

.tab {
    @include flex;
    column-gap: 10px;
    padding: 15px 10px;
    opacity: .5;
    transition: opacity 0.25s ease;
    position: relative;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 2px;
        transform: translateX(-50%);
        width: 0;
        transition: width 0.25s ease;
        background: linear-gradient(90.00deg, rgba(255, 88, 95, 0),rgb(250, 88, 151) 51.569%,rgba(255, 88, 95, 0) 100%);
    }

    &__icon {
        width: 18px;
        height: 18px;
    }

    &:hover {
        opacity: 0.8;
    }

    &.active {
        opacity: 1;

        &::after {
            width: 100%;
        }
    }
}

.form {
    margin-top: 40px;

    label {
        display: block;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #b7b7b7;
        margin-bottom: 10px;
        padding-left: 16px;
    }

    &__inputs {
        @include flex;
        gap: 25px;
    }

    &__group {
        width: 320px;

        input {
            width: 100%;
            @include input;
        }
    }

    &__selects {
        @include flex;
        column-gap: 25px;
        align-items: flex-end;
    }

    
    &__icon {
        @include flex;
        background: #2b2440;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.25s ease;

        &:hover {
            opacity: 1;
        }

    }

    &__info {
        @include flex(space-between);
        margin-top: 25px;
        position: relative;
    }

    &__submit {
        @include button;
    }
    
    &__results {
        @include flex;
        column-gap: 15px;
        opacity: 0;

        &.show {
            opacity: 1;
        }

        &-equals {
            background: #2b2440;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            @include flex;
        }

        &-item {
            background: #1E192D;
            border-radius: 12px;
            padding: 12px;
            align-items: center;
            display: grid;
            column-gap: 8px;
            grid-template-areas: "icon titles" "icon amount";
            
            &.from {
                .icon {
                    box-shadow: 0px 0px 0px 2px rgba(252, 87, 130, 0.25);
                    background: rgb(252, 87, 130);      
                }
            }
            
            &.to {
                .icon {
                    box-shadow: 0px 0px 0px 2px rgba(31, 196, 175, 0.25);
                    background: rgb(31, 196, 175);      
                }
            }

            .icon {
                @include flex;
                grid-area: icon;
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }

            &-titles {
                grid-area: titles;
                @include flex(start);
                column-gap: 10px;
            }

            &-title {
                font-weight: 500;
                font-size: 14px;
                color: #fff;
                line-height: 17px;
            }

            &-full {
                font-weight: 400;
                font-size: 12px;
                color: rgba(245,245,245,0.5);
                line-height: 15px;
            }

            &-value {
                grid-area: amount;
                font-weight: 700;
                font-size: 19px;
                line-height: 23px;
                margin-top: 6px;
            }
        }
    }
}

.rate {
    &-information {
        @include flex(space-between);
        margin-top: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: rgba(245,245,245,0.5);
    }

    &-conversion {
        color: #fff;
    }
}

.select {
    cursor: pointer;
    min-width: 240px;
    @include input;
}

.currency {
    &-wrapper {
        margin-top: 40px;
    }

    &-item {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        border-radius: 12px;
        padding: 14px 20px;
        border: 2px solid #fa5897;
        background: none;
    }

    &-titles {
        @include flex(start);
        column-gap: 10px;
    }

    &-title {
        line-height: 19px;
        color: #f5f5f5;
        min-width: 40px;
        font-weight: 600;
    }

    &-full {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: rgba(245,245,245,0.5);
    }

    &-amount {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }

    &-single {
        position: relative;

        .currency-item {
            height: 69px;
        }

        .select {
            display: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            width: calc(100% - 20px);
            max-width: 290px;
        }

        &.active {
            .currency-button {
                display: none;
            }

            .select {
                display: block;
            }
        }
    }

    &-action {
        text-align: right;
    }

    &-current {
        border: none;
        background-color: #879fff;

        .currency {
            &-full {
                color: #2b2440;
            }
        }
    }

    &-list {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &-button {
        border: 1px solid rgba(255,255,255,0.5);
        border-radius: 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        width: max-content;
        color: rgba(255,255,255,0.5);
        padding: 10px 24px;
        cursor: pointer;
        transition: border 0.25s, color 0.25s;
        text-transform: capitalize;

        &:hover {
            border: 1px solid rgba(255,255,255, 1);
            color: rgba(255,255,255, 1);
        }
    }

    &-add {
        display: flex;
        justify-content: end;
        margin-top: 20px;

        &__button {
            @include button;
        }

        .select {
            display: none;
            padding: 11px 14px;
        }

        &.active {
            .select {
                display: block;
            }

            .currency-add__button {
                display: none;
            }
        }
    }
}

.content {
    display: none;
    
    &.show {
        display: block;
    }
}