@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700);
input, button {
  background: none;
  outline: none;
  border: none;
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1E192D;
  font-family: "Inter", "Roboto", sans-serif;
  overflow-x: hidden;
  color: #ffffff;
}

.container {
  width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  /*center center*/
  row-gap: 28px;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #fff;
  line-height: 27px;
  font-weight: 700;
}

.main {
  width: 100%;
  position: relative;
}
.main::after, .main::before {
  position: absolute;
  content: "";
  display: block;
}
.main::before {
  width: 220px;
  height: 220px;
  bottom: 0;
  left: -180px;
  background: url("../imgs/bitcoin.svg") no-repeat center/contain;
  z-index: -1;
}
.main::after {
  width: 144px;
  height: 144px;
  top: -72px;
  right: 0;
  background: url("../imgs/Ethereum.svg") no-repeat center/contain;
  z-index: 1;
}

.wrapper {
  background: linear-gradient(180deg, rgb(39, 29, 53), rgba(39, 29, 53, 0.2) 100%);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  padding: 9px 45px 37px 45px;
  min-height: 314px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tabs::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 70%;
  left: 50%;
  height: 2px;
  min-width: 660px;
  transform: translateX(-50%);
  background: linear-gradient(90deg, rgba(217, 217, 217, 0) 12.5%, rgb(255, 255, 255) 51.569%, rgba(255, 255, 255, 0) 86.979%);
  opacity: 0.2;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 15px 10px;
  opacity: 0.5;
  transition: opacity 0.25s ease;
  position: relative;
  cursor: pointer;
}
.tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  transform: translateX(-50%);
  width: 0;
  transition: width 0.25s ease;
  background: linear-gradient(90deg, rgba(255, 88, 95, 0), rgb(250, 88, 151) 51.569%, rgba(255, 88, 95, 0) 100%);
}
.tab__icon {
  width: 18px;
  height: 18px;
}
.tab:hover {
  opacity: 0.8;
}
.tab.active {
  opacity: 1;
}
.tab.active::after {
  width: 100%;
}

.form {
  margin-top: 40px;
}
.form label {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #b7b7b7;
  margin-bottom: 10px;
  padding-left: 16px;
}
.form__inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.form__group {
  width: 320px;
}
.form__group input {
  width: 100%;
  border-radius: 12px;
  background: rgb(43, 36, 64);
  font-weight: 600;
  line-height: 19px;
  color: #f5f5f5;
  border: 2px solid rgba(255, 88, 95, 0.35);
  padding: 14px;
}
.form__selects {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  align-items: flex-end;
}
.form__select {
  flex-grow: 1;
}
.form__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b2440;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.25s ease;
}
.form__icon:hover {
  opacity: 1;
}
.form__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  position: relative;
}
.form__submit {
  border-radius: 12px;
  background: linear-gradient(132.76deg, rgb(255, 88, 95) 3.283%, rgb(250, 88, 151) 95.346%);
  font-size: 17px;
  line-height: 21px;
  color: #fff;
  padding: 12px 30px;
  cursor: pointer;
  margin-left: auto;
}
.form__submit:hover {
  background: linear-gradient(132.76deg, rgb(210, 21, 30) 3.283%, rgb(163, 63, 102) 95.346%);
}
.form__results {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  opacity: 0;
}
.form__results.show {
  opacity: 1;
}
.form__results-equals {
  background: #2b2440;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__results-item {
  background: #1E192D;
  border-radius: 12px;
  padding: 12px;
  align-items: center;
  display: grid;
  column-gap: 8px;
  grid-template-areas: "icon titles" "icon amount";
}
.form__results-item.from .icon {
  box-shadow: 0px 0px 0px 2px rgba(252, 87, 130, 0.25);
  background: rgb(252, 87, 130);
}
.form__results-item.to .icon {
  box-shadow: 0px 0px 0px 2px rgba(31, 196, 175, 0.25);
  background: rgb(31, 196, 175);
}
.form__results-item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: icon;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.form__results-item-titles {
  grid-area: titles;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
}
.form__results-item-title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  line-height: 17px;
}
.form__results-item-full {
  font-weight: 400;
  font-size: 12px;
  color: rgba(245, 245, 245, 0.5);
  line-height: 15px;
}
.form__results-item-value {
  grid-area: amount;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  margin-top: 6px;
}

.rate-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(245, 245, 245, 0.5);
}
.rate-conversion {
  color: #fff;
}

.select {
  cursor: pointer;
  min-width: 240px;
  border-radius: 12px;
  background: rgb(43, 36, 64);
  font-weight: 600;
  line-height: 19px;
  color: #f5f5f5;
  border: 2px solid rgba(255, 88, 95, 0.35);
  padding: 14px;
}

.currency-wrapper {
  margin-top: 40px;
}
.currency-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  border-radius: 12px;
  padding: 14px 20px;
  border: 2px solid #fa5897;
  background: none;
}
.currency-titles {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 19px;
}
.currency-title {
  line-height: 19px;
  color: #f5f5f5;
  min-width: 40px;
  font-weight: 600;
}
.currency-full {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(245, 245, 245, 0.5);
}
.currency-amount {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.currency-single {
  position: relative;
}
.currency-single .currency-item {
  height: 69px;
}
.currency-single .select {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  right: 15px;
  width: calc(100% - 20px);
  max-width: 290px;
}
.currency-single.active .currency-button {
  display: none;
}
.currency-single.active .select {
  display: block;
}
.currency-action {
  text-align: right;
}
.currency-current {
  border: none;
  background-color: #879fff;
}
.currency-current .currency-full {
  color: #2b2440;
}
.currency-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.currency-button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: max-content;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 24px;
  cursor: pointer;
  transition: border 0.25s, color 0.25s;
  text-transform: capitalize;
}
.currency-button:hover {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.currency-add {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.currency-add__button {
  border-radius: 12px;
  background: linear-gradient(132.76deg, rgb(255, 88, 95) 3.283%, rgb(250, 88, 151) 95.346%);
  font-size: 17px;
  line-height: 21px;
  color: #fff;
  padding: 12px 30px;
  cursor: pointer;
  margin-left: auto;
}
.currency-add__button:hover {
  background: linear-gradient(132.76deg, rgb(210, 21, 30) 3.283%, rgb(163, 63, 102) 95.346%);
}
.currency-add .select {
  display: none;
  padding: 11px 14px;
}
.currency-add.active .select {
  display: block;
}
.currency-add.active .currency-add__button {
  display: none;
}/*# sourceMappingURL=main.css.map */